body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    min-height: 100%;
    margin: 0px;
    box-sizing: border-box;
}

body.modal-open {
    overflow: hidden;
}

.main {
max-width: 1280px;
margin: 0 auto;
}

li {
padding: 5px 10px;
}

.nav-bar-wrapper {
width: 100%;
background-color: #243b7d;
display: inline-flex;
}

.nav-bar {
display: inline-block;
margin: 0 auto;
}

.nav-bar.nav-left, .nav-bar.nav-right {
    display: inline-block;
}

.nav-bar.nav-left {
    float: left;
}

.nav-bar.nav-left {
    float: right;
}

li.nav-bar-item {
    display: inline-block;
    padding: 10px;
    color: #050585;
    transition: 0.5s ease all;
    position: relative;
}

li.nav-bar-item.active {
    background-color: #3355a0
}

li.nav-bar-item:hover {
    background: #39394a;
}

li.nav-bar-item > a {
    text-decoration: none;
    color: #fff;
}

    li.nav-bar-item > a:hover {
        text-decoration: none;
        color: #fff !important;
    }

.notifications-label {
    background-color: #fa3e3e;
    border-radius: 2px;
    color: white;
    padding: 1px 3px;
    font-size: 10px;
    position: absolute; 
    top: 0;
    right: 0;
}
.notifications-modal {
    position: absolute;
    right: 0;
    z-index: 2;
    background-color: #f9f9f9;
    padding: 5px 15px;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
    width: 360px;
    display: block;
}
.notifications-modal.hidden {
    display: none;
}
    /*
    Jobs matching page syle
*/
    #jobs-modal { /* This blocks triggers the element with id="jobs-modal" and assigns it the following style*/
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: auto;
        background-color: #0e0e0e70;
        z-index: 999999;
        display: none;
        overflow-x: hidden;
        overflow-y: auto;
    }
#job-expanded {
    width: 50%;
    margin: 100px auto;
    background-color: white;
    padding: 20px;
}
#modal-job-title {
    width: 100%;
    /* margin: 0 auto; */
    text-align: center;
}
.button-div {
    display: inline-block;
    padding: 10px;
    background-color: #019fdc;
    color: white;
    cursor: pointer;
    transition: 0.5s ease all;
}
.button-div.close-button {
    background-color: #d83a3a;
}
.button-div.confirm-button {
    background-color:#3ad888;
}
.button-div:hover {
    filter: brightness(1.1)
}
    /* End of job modal style*/
    .jobs-filter-bar {
        margin: 50px 0;
        text-align: right;
    }

.job-listing-wrapper {
padding: 20px;
border: 1px solid #b8b8b8;
border-radius: 2px;
margin: 20px;
}

.jobs-list {
width: 100%;
max-width: 500px;
margin: 0 auto;
}

.option-selector {
    position: relative;
    max-width: 200px;
    min-width: 150px;
    text-align: right;
    cursor: pointer;
    display: inline-block;
}

.option-label-dropdown {
margin-left: 40px;
}

.option-label-dropdown:before {
    content: "";
    position: absolute;
    right: 10px;
    top: 8px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #100e90;
}

.option-label-dropdown:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 5px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    padding: 0;
}

.suboption-list {
display: none;
position: absolute;
top: -3000px;
right: 20px;
margin: 0;
list-style: none;
top: 0;
background: white;
border: 1px solid #c5c5c5;
padding: 0;
}

.suboption-list:hover {
    display: block;
    top: 0;
}

.option-label:hover + ul {
display: block;
top: 0;
}

.suboption-list > li:hover {
    background-color: #e2e2e2;
}
